# Terraform files
.terraform/
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# CLI config
.terraformrc
terraform.rc

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

.terraform.lock.hcl

# Secrets
*.pem
*.key
*.pub


var.sh

dev.sh


*.sh